$primary-color: white;
// $another-color: rgb(227, 198, 102);
$another-color: #f1c153;

@mixin flex{
    display: flex;
    align-items: center;
}

@mixin flex-col{
    @include flex;
    flex-direction: column;
    justify-content: center;
}

@mixin line{
    content: "";
    position: absolute;
    height: 0.15rem; 
    background-color: $another-color; 
}