@media (max-width: 992px) {
    .nav{
        display: none;
    }

    .burger{
        display: flex; 
    }

    header {
        display: flex;
        padding-right: 15px;
        justify-content: flex-end;
        align-items: center;
    }


}
