@import 'utils';

body {
background-color: black;
color: $primary-color;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}

ul {
    list-style-type: none;
}  

nav {

    ul {
    @include flex;
    justify-content: flex-end;
    column-gap: 3rem;
    height: 5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    }

    a {
        color: $primary-color; 
        font-size: 1.2rem;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 0.1rem;
        transition: background-size 1s;
    }

    a:hover {
        color: $another-color;
        background-size: 100% 0.1rem;
    }

    .nav-button {
        display: none; 
        
        img {
        width: 3rem;
        height: 3rem;
        }
    }

}

main,
header,
footer{
    animation: fadeIn 1s ease-in-out;
}


.image {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.square {
    width: 22rem;
    height: 20rem; 
    background-color: $another-color;
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    z-index: -5;
}

.square::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 95%, black),
                linear-gradient(to left, rgba(255, 255, 255, 0) 95%, black),
                linear-gradient(to right, rgba(255, 255, 255, 0) 95%, black),
                linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, black);
    z-index: 1;
}    

.image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 95%, black),
                linear-gradient(to right, rgba(255, 255, 255, 0) 80%, black),
                linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, black),
                linear-gradient(to left, rgba(255, 255, 255, 0) 80%, black);
    z-index: 1;
}

img {
    display: block;
    width: 23rem;
    height: 22rem;
}

.image-style {
    position: relative;
    
}

.preview {
    @include flex;
    justify-content: center;
    column-gap: 12rem;
    padding-top: 6rem;
}

.base-info {
    @include flex;
    flex-direction: column;
    row-gap: 1rem;
    
    p{
        font-size: 1.4rem;
    }

    h1{
      font-size: 3rem;
  
    } 
    
    h2{
        font-size: 2.5rem;
        color: $another-color;    
        padding-top: 0;
        padding-bottom: 1rem;
    }
}

main {
    @include flex-col; 

    h2 {
        padding: 0;
        color: $another-color;
        padding-top: 4rem;
    }
        
}

.button {
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    background: linear-gradient(to right, #e1a326, $another-color);
    color: $primary-color;
    text-decoration: none;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 0.5rem $another-color;
    transition: 1s;
}

.button:hover {
    background: linear-gradient(to right, #ea7430, #dea146);
    box-shadow: 0.2rem 0.2rem 0.5rem #ea7430;
    animation: scale 0.5s ease-in-out forwards;
}

#about {

    div {
    text-align: left;
    }

    p {
        position: relative;
        font-size: 1.4rem;
    }
      
    p::before {
        @include line;
        left: -2rem;
        top: 50%;
        width: 1.5rem;
    }

}

#skills {

    ul {
        @include flex;
        column-gap: 5rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill {
        @include flex-col;
    }

    .percent {
        width: 6rem;
        aspect-ratio: 1;
        position: relative;
        display: inline-grid;
        place-content: center;
        margin: 5px;
        font-size: 25px;
        font-weight: bold;
        font-family: sans-serif;
    }

    .percent:before {
        content: "";
        position: absolute;
        border-radius: 50%;
        inset: 0;
        background: conic-gradient($another-color calc(var(--p)*1%),#0000 0);
        -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - 0.4rem),#000 calc(100% - 0.4rem));
                mask:radial-gradient(farthest-side,#0000 calc(99% - 0.4rem),#000 calc(100% - 0.4rem));
    }
}

.dark-theme {
    background-color: #1b1c1c;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 95%, black),
                linear-gradient(to right, rgba(255, 255, 255, 0) 90%, black),
                linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, black),
                linear-gradient(to left, rgba(255, 255, 255, 0) 85%, black);
    padding-right: 6rem;
    border-radius: 2rem;
    
    code {
        font-size: 1rem;    
    }
}

#experience {
    @include flex;
    justify-content: center;
    column-gap: 7rem;
    row-gap: 5rem;
    margin-top: 3rem;

    div {
        position: relative;
    }
    
    .inner-img-content {
        @include flex-col;
        position: absolute;
        align-items: center;
        width: 18rem;
        top:40%;
        left:27%;
    }

    h3 {
        text-align: center;
        height: 4rem;
    }

    img {
        width: 40rem;
        height: 22rem; 
        opacity: 0.4;
        border-radius: 1rem;
    }

    div:nth-child(2) img {
        opacity: 0.2;
      }

}

#education {
    @include flex;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 5rem;

    div {
        position: relative;
        @include flex-col;
    }

    .line {
        @include line;
        width: 8rem;
        left: 50%;
        transform: translateX(-50%);
        top: 25%;
    }
}

#languages {
    @include flex;
    column-gap: 10rem;

    .lang {
      @include flex-col;
      position: relative;
    }

    .line {
        @include line;
        width: 3rem;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
    }
}

footer {
    @include flex-col;

    a {
       color: $primary-color; 
       font-size: 1.2rem;
       font-weight: bold;
    }

    a:hover {
        color: $another-color;
    }

    img {
        width: 6rem;
        height: 4rem;
    }
}

#contacts {
    @include flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    column-gap: 8rem;
}


#btnScrollTop {
    display: none;
    position: fixed;
    font-size: 1rem;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 4.5rem;
    border: none;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
  }

