body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  height: 5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.header a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}
.header a:hover {
  color: #f1c153;
  text-decoration: underline;
  text-decoration-color: #f1c153;
}

.image {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.square {
  width: 21rem;
  height: 20rem;
  background-color: #f1c153;
  position: absolute;
  top: -2rem;
  left: -2rem;
  z-index: -5;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 95%, black), linear-gradient(to right, rgba(255, 255, 255, 0) 80%, black), linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, black), linear-gradient(to left, rgba(255, 255, 255, 0) 80%, black);
  z-index: 1;
}

img {
  display: block;
  width: 23rem;
  height: 22rem;
  animation: fade-in 2s ease-in-out;
}

.image-style {
  position: relative;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12rem;
       column-gap: 12rem;
  padding-top: 6rem;
}

.base-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
.base-info p {
  font-size: 1.4rem;
}
.base-info h1 {
  font-size: 3rem;
}
.base-info h2 {
  font-size: 2.5rem;
  color: #f1c153;
  padding-top: 0;
  padding-bottom: 1rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
main h2 {
  color: #f1c153;
  padding-top: 4rem;
}

p {
  font-size: 1.5rem;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  background: linear-gradient(to right, #e1a326, #f1c153);
  color: white;
  text-decoration: none;
  border-radius: 2rem;
}

.button:hover {
  background: linear-gradient(to right, #d48a1a, #dea146);
}

#about p {
  position: relative;
}
#about p::before {
  content: "";
  position: absolute;
  height: 0.15rem;
  background-color: #f1c153;
  left: -2rem;
  top: 50%;
  width: 1.5rem;
}

.circle {
  position: relative;
  background-color: black;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid rgb(58, 57, 57);
}

#experience {
  display: flex;
  align-items: center;
  -moz-column-gap: 7rem;
       column-gap: 7rem;
  margin-top: 3rem;
}
#experience img {
  width: 40rem;
  height: 22rem;
  opacity: 0.6;
}

#education {
  display: flex;
  align-items: center;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
}
#education h3 {
  position: relative;
}
#education h3::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: 0.5rem;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #f1c153;
}

#languages {
  display: flex;
  align-items: center;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
}
#languages .lang {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#languages .line {
  content: "";
  position: absolute;
  height: 0.15rem;
  background-color: #f1c153;
  width: 3rem;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer a {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
footer a:hover {
  color: #f1c153;
}
footer img {
  width: 6rem;
  height: 4rem;
}

#contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}/*# sourceMappingURL=style.css.map */